<div style="text-align:center">
  <h1>Model Driven Form</h1>
  <p>(Form-Validation Included)</p>
</div>

<div style="text-align:center">
  <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
      <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid"
         formControlName = "emailid">
      <br/><br>
      <input type = "password" class = "fortextbox" name = "passwd"
         placeholder = "passwd" formControlName = "passwd">
      <br/><br>
      <input type = "submit" [disabled] = "!formdata.valid" class = "forsubmit"
         value = "Log In">
   </form>
</div>
<p style="text-align: center">
  Email entered is : {{emailid}}
</p>
