<!-- <p>new-cmp works!</p> -->
<div style="text-align:center">
   <h1>
      Welcome to {{title}}.
   </h1>
</div>
<div style="overflow-x:auto;">
  <table>
        <tr>
          <th>Sr.No</th>
          <th>Version</th>
          <th>Release Date</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Angular JS</td>
          <td>Oct 20, 2010</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Angular 2</td>
          <td>Sep 14, 2016</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Angular 4</td>
          <td>March 23, 2017</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Angular 5</td>
          <td>Nov 1, 2017</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Angular 6</td>
          <td>May 4, 2018</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Angular 7</td>
          <td>Oct 18, 2018</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Angular 8</td>
          <td>May 28, 2019</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Angular 9</td>
          <td>Feb, 2020</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Angular 10</td>
          <td>June, 2020</td>
        </tr>
  </table>
</div>
